<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Customers</h5>
    </div>
    <div class="panel-body">
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cur in entitylist">
                    <td>{{cur.id}}</td>
                    <td>{{cur.firstName}}</td>
                    <td>{{cur.lastName}}</td>
                    <td>{{cur.email}}</td>
                    <td>
                        <span class="label label-info position-right" ng-repeat="cur2 in cur.roles">{{cur2}}</span>
                    </td>
                </tr>
            
            </tbody>
        </table>
    </div>
</div>