<div class="off-canvas__nav" style="z-index: 4 !important;" ng-controller="MyOffCanvasCtrl as ctrl">
    <div class="row">
        <div class="col-xs-8">
            <a>
                <img ng-src="{{avatarUri}}" alt="" class="img-circle img-responsive" width="92">
                <h2>{{customer.prettyName}}</h2>
                <ul style="z-index: 1050 !important; list-style-type: none;">
                    <li><a ui-sref="profile({id:null})"><i class="icon-cog5"></i> My profile</a></li>
                    <li><a ui-sref="profileedit()"><i class="icon-cog5"></i>Edit profile</a></li>
                    <li><a ng-click="logout()"><i class="icon-switch2"></i>Logout</a></li>
                </ul>
            </a>
        </div>
        <div class="col-md-4">
            <a href ng-click="offCanvas.toggle()" class="pull-right"><i class="fa fa-times-circle-o fa-4x" aria-hidden="true"></i></a>
        </div>
    </div>
    <ul class="nav navbar-nav">
        <!--<li ng-show="showPageFor('NotConnectedUser')" ng-class="CurrentPage=='home' ? 'active' : ''"><a ng-click="offCanvas.toggle()" ui-sref="home()"><i class="fa fa-home" aria-hidden="true"></i></a></li>-->
        <li ng-show="ctrl.showPageFor('NotConnectedUser')" ng-class="CurrentPage=='inscription' ? 'active' : ''"><a ng-click="offCanvas.toggle()" ui-sref="inscription()">S'inscrire</a></li>
        <li ng-show="ctrl.showPageFor('NotConnectedUser')" ng-class="CurrentPage=='inscriptioncoach' ? 'active' : ''"><a ng-click="offCanvas.toggle()" ui-sref="inscriptioncoach()">S'inscrire (coach)</a></li>
        <li ng-show="ctrl.showPageFor('User, Coach')" ng-class="CurrentPage=='dashboard' ? 'active' : ''"><a ng-click="offCanvas.toggle()" ui-sref="dashboard()">Dashboard</a></li>
        <li ng-show="ctrl.showPageFor('User, Coach')" ng-class="CurrentPage=='coachs' ? 'active' : ''"><a ng-click="offCanvas.toggle()" ui-sref="coachs()">Coachs</a></li>
        <li ng-show="ctrl.showPageFor('User, Coach')" ng-class="CurrentPage=='programs' ? 'active' : ''"><a ng-click="offCanvas.toggle()" ui-sref="programs()">Programs</a></li>
        <li class="dropdown dropdown-user" ng-show="ConnectedUserId != null  && ConnectedUserId != 'null'"></li>
        <li ng-show="showPageFor('NotConnectedUser')" ng-class="CurrentPage=='signin' ? 'active' : ''">
            <a ui-sref="signin2()" ng-show="ConnectedUserId == null || ConnectedUserId == 'null'">Identification</a>
        </li>
    </ul>
</div>