<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.cancel()">×</button>
        <h5 class="modal-title">{{$ctrl.modalTitle}}</h5>
    </div>

    <div class="modal-body">
        <form action="index/html" name="myForm" class="form-horizontal">
            <fieldset class="content-group">
                <!-- <legend class="text-bold">Basic inputs</legend> -->
                <div class="form-group" ng-repeat="(cur,v) in $ctrl.entity">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{cur}}</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" required="required" placeholder="{{cur}}" ng-model="$ctrl.entity[cur]">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link" ng-click="$ctrl.cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.submit()">Save changes</button>
    </div>
</div>