
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">echarts</h6>
            </div>
            <div class="panel-body">
                <e-charts options="echartOptions"></e-charts>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">echarts2</h6>

            </div>
            <div class="panel-body">
                <e-charts options="echartOptions2"></e-charts>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">echarts3</h6>

            </div>
            <div class="panel-body">
                <e-charts options="echartOptions3"></e-charts>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">echarts4</h6>

            </div>
            <div class="panel-body">
                <e-charts options="echartOptions4"></e-charts>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">echarts5</h6>

            </div>
            <div class="panel-body">
                <e-charts options="echartOptions5" style="height:1000px;"></e-charts>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">echarts6</h6>

            </div>
            <div class="panel-body">
                <e-charts options="echartOptions6"></e-charts>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">echarts7</h6>

            </div>
            <div class="panel-body">
                <e-charts options="echartOptions7"></e-charts>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">nvd3</h6>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-menu7"></i>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a>
                                        <i class="icon-sync"></i> Update data
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <i class="icon-list-unordered"></i> Detailed log
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <i class="icon-pie5"></i> Statistics
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a>
                                        <i class="icon-cross3"></i> Clear list
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-toolbar panel-toolbar-inbox">
                <div class="navbar navbar-default navbar-component no-margin-bottom">
                    <ul class="nav navbar-nav visible-xs-block no-border">
                        <li>
                            <a class="text-center collapsed" data-toggle="collapse" data-target="#inbox-toolbar-toggle-single">
                                <i class="icon-circle-down2"></i>
                            </a>
                        </li>
                    </ul>

                    <div class="navbar-collapse collapse" id="inbox-toolbar-toggle-single">
                        <div class="btn-group navbar-btn">
                            <button type="button" class="btn bg-blue">
                                <i class="icon-checkmark3 position-left"></i> Send mail</button>
                        </div>

                        <div class="btn-group navbar-btn">
                            <button type="button" class="btn btn-default">
                                <i class="icon-plus2"></i>
                                <span class="hidden-xs position-right">Save</span>
                            </button>
                            <button type="button" class="btn btn-default">
                                <i class="icon-cross2"></i>
                                <span class="hidden-xs position-right">Cancel</span>
                            </button>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu7"></i>
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a >Action</a>
                                    </li>
                                    <li>
                                        <a >Another action</a>
                                    </li>
                                    <li>
                                        <a >Something else here</a>
                                    </li>
                                    <li>
                                        <a >One more line</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="pull-right-lg">
                            <div class="btn-group navbar-btn">
                                <button type="button" class="btn btn-default">
                                    <i class="icon-printer"></i>
                                    <span class="hidden-xs position-right">Print</span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <i class="icon-new-tab2"></i>
                                    <span class="hidden-xs position-right">Share</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <nvd3 options="nvd3options" data="nvd3data"></nvd3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">am chart</h6>
            </div>
            <div class="panel-body">
                <am-chart config="amchartohlcconfig" style="height:500px;"></am-chart>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">smart table</h6>
            </div>
            <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input st-search="" class="form-control" placeholder="Filter ..." type="text" />
                        </th>
                    </tr>
                    <tr>
                        <th st-sort="firstName">first name</th>
                        <th st-sort="lastName">last name</th>
                        <th st-sort="birthDate">birth date</th>
                        <th st-sort="balance">balance</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayedCollection">
                        <td>{{row.firstName}}</td>
                        <td>{{row.lastName}}</td>
                        <td>{{row.birthDate}}</td>
                        <td>{{row.balance}}</td>
                        <td>&nbsp;
                            <!-- <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
                                        <i class="glyphicon glyphicon-remove-circle">
                                        </i>
                                    </button> -->
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">gridster</h6>
            </div>
            <div class="panel-body">
                <div gridster>
                    <ul>
                        <li gridster-item="item" ng-repeat="item in standardItems">
                            <pre>{{item|json}}</pre>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Quick stats boxes -->
<div class="row">
    <div class="col-lg-4">
        <div class="panel bg-teal-400">
            <div class="panel-body">
                <div class="heading-elements">
                    <span class="heading-text badge bg-teal-800">+53,6%</span>
                </div>
                <h3 class="no-margin">3,450</h3>
                Members online
                <div class="text-muted text-size-small">489 avg</div>
            </div>
            <div class="container-fluid">
                <div id="members-online">

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel bg-pink-400">
            <div class="panel-body">
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-cog3"></i>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a>
                                        <i class="icon-sync"></i> Update data</a>
                                </li>
                                <li>
                                    <a>
                                        <i class="icon-list-unordered"></i> Detailed log</a>
                                </li>
                                <li>
                                    <a>
                                        <i class="icon-pie5"></i> Statistics</a>
                                </li>
                                <li>
                                    <a>
                                        <i class="icon-cross3"></i> Clear list
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <h3 class="no-margin">49.4%</h3>
                Current server load
                <div class="text-muted text-size-small">34.6% avg</div>
            </div>
            <div id="server-load">
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel bg-blue-400">
            <div class="panel-body">
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li>
                            <a data-action="reload"></a>
                        </li>
                    </ul>
                </div>
                <h3 class="no-margin">$18,390</h3>
                Today's revenue
                <div class="text-muted text-size-small">$37,578 avg</div>
            </div>
            <div id="today-revenue">
            </div>
        </div>
    </div>
</div>