<div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1" ng-style="{'margin-top':windowHeight / 2 - 300 + 'px'}">
        <form class="login-form" novalidate ng-submit="signIn()">
            <div class="panel panel-body row">
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-5 col-xs-4 col-xs-offset-4">
                        <img src="assets/images/logo-default.png" class="img img-responsive" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center mt-10">
                        <h5 class="content-group">
                            {{ 'LOGIN_TO_YOUR_ACCOUNT' | translate }}
                        </h5>
                    </div>
                    <div class="col-lg-6 col-lg-offset-3 form-group has-feedback has-feedback-left">
                        <input type="email" name="username" class="form-control" placeholder="{{ 'USERNAME' | translate }}" ng-model="login">
                        <div class="form-control-feedback">
                            <i class="icon-user text-muted ml-15"></i>
                        </div>
                    </div>
                    <div class="col-lg-6 col-lg-offset-3 form-group has-feedback has-feedback-left">
                        <input type="password" name="password" class="form-control" placeholder="{{ 'PASSWORD' | translate }}" ng-model="password">
                        <div class="form-control-feedback">
                            <i class="icon-lock2 text-muted ml-15"></i>
                        </div>
                    </div>
                    <div class="col-lg-6 col-lg-offset-3 form-group">
                        <button type="submit" class="btn btn-block bg-customer-primary">
                            {{ 'SIGNIN' | translate }}
                        </button>
                    </div>

                    <div class="col-lg-6 col-lg-offset-3 form-group">
                        <div class="text-right">
                            <span class="help-block text-center no-margin">
                                <a ui-sref="passwordrecover()">
                                    <small>{{ 'FORGOT_PASSWORD' | translate }}</small>
                                </a>
                            </span>
                        </div>
                    </div>


                    <!--<div class="col-lg-6 col-lg-offset-3 content-divider text-muted form-group"><span>or sign in with</span></div>
                    <div class="col-lg-6 col-lg-offset-3">
                        <ul class="list-inline form-group list-inline-condensed text-center">
                            <li><a href="#" class="btn border-indigo text-indigo btn-flat btn-icon btn-rounded"><i class="icon-facebook"></i></a></li>
                            <li><a href="#" class="btn border-pink-300 text-pink-300 btn-flat btn-icon btn-rounded"><i class="icon-dribbble3"></i></a></li>
                            <li><a href="#" class="btn border-slate-600 text-slate-600 btn-flat btn-icon btn-rounded"><i class="icon-github"></i></a></li>
                            <li><a href="#" class="btn border-info text-info btn-flat btn-icon btn-rounded"><i class="icon-twitter"></i></a></li>
                            <li><a href="#" class="btn border-info text-info btn-flat btn-icon btn-rounded"><i class="icon-hash"></i></a></li>
                        </ul>
                    </div>-->
                    <div class="col-lg-6 col-lg-offset-3 content-divider text-muted form-group">
                        <span>{{ 'NO_ACCOUNT' | translate }}</span>
                    </div>
                    <div class="col-lg-6 col-lg-offset-3">

                        <a ui-sref="inscription" class="btn btn-default btn-block content-group">{{ 'SUSCRIBE_NOW' | translate }}</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>