<div class="signinpage row" >
    <div class="col-lg-6 col-lg-offset-3">
        <form class="login-form" novalidate ng-submit="signIn()">
            <div class="panel panel-body row">
                <img src="assets/images/logo-default.png" class="img img-responsive col-lg-4 col-lg-offset-4 mb-15 mt-10" />
                <div class="col-lg-12 text-center mt-10">
                    <h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
                </div>
                <div class="col-lg-6 col-lg-offset-3 form-group has-feedback has-feedback-left">
                    <input type="text" name="username" class="form-control" placeholder="Username" ng-model="login">
                    <div class="form-control-feedback">
                        <i class="icon-user text-muted ml-15"></i>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-3 form-group has-feedback has-feedback-left">
                    <input type="password" name="password" class="form-control" placeholder="Password" ng-model="password">
                    <div class="form-control-feedback">
                        <i class="icon-lock2 text-muted ml-15"></i>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-3 form-group">
                    <button type="submit" class="btn btn-block bg-customer-primary">Sign in <i class="icon-circle-right2 position-right"></i></button>
                </div>

                <div class="col-lg-6 col-lg-offset-3 form-group">
                    <div class="text-right">
                        <span class="help-block text-center no-margin"><a ui-sref="passwordrecover()"><small>Forgot password ?</small></a></span>
                    </div>
                </div>


                <!--<div class="col-lg-6 col-lg-offset-3 content-divider text-muted form-group"><span>or sign in with</span></div>
                <div class="col-lg-6 col-lg-offset-3">
                    <ul class="list-inline form-group list-inline-condensed text-center">
                        <li><a href="#" class="btn border-indigo text-indigo btn-flat btn-icon btn-rounded"><i class="icon-facebook"></i></a></li>
                        <li><a href="#" class="btn border-pink-300 text-pink-300 btn-flat btn-icon btn-rounded"><i class="icon-dribbble3"></i></a></li>
                        <li><a href="#" class="btn border-slate-600 text-slate-600 btn-flat btn-icon btn-rounded"><i class="icon-github"></i></a></li>
                        <li><a href="#" class="btn border-info text-info btn-flat btn-icon btn-rounded"><i class="icon-twitter"></i></a></li>
                        <li><a href="#" class="btn border-info text-info btn-flat btn-icon btn-rounded"><i class="icon-hash"></i></a></li>
                    </ul>
                </div>-->
                <div class="col-lg-6 col-lg-offset-3 content-divider text-muted form-group"><span>No account ?</span></div>
                <div class="col-lg-6 col-lg-offset-3">

                    <a ui-sref="inscription" class="btn btn-default btn-block content-group">Suscribe now</a>
                </div>
            </div>
        </form>
    </div>
</div>