<!--Global busy indicator, set using rootScope-->
<!--<div class="col-xs-12 BusyIndicator" ng-show="IsBusy">
    <h1 style="margin-top: 25%; text-align: center; ">
        Veuillez patienter<br />
        {{ProgressPct}}
        <i class="fa fa-spinner fa-spin" style="margin-top: 12px"></i>
    </h1>
</div>-->
<!--Global busy indicator, set using rootScope-->
<div class="modal show" ng-show="IsBusy">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align:center; padding:25px;">
            <img src="/bobos_components/assets/images/ajax-loader.gif" />
            <h1 ng-show="progressPercentage != null">{{progressPercentage}} %</h1>
        </div>
    </div>
</div>